@import 'vars';
@import 'mixins';

.wrapper {
    @include flex($dir: column);
    flex-grow: 1;
    background-image: radial-gradient($primary-1 0%, $bg 65%);
}

.form {
    @include flex($wrap: wrap);
    max-width: 400px;
    margin: 0 20px;
    padding: 35px 50px;
    background-image: linear-gradient(45deg, $fg-05, $fg-1);
    border-radius: 4px;
}

.title {
    flex-basis: 100%;
    background-image: linear-gradient(45deg, $primary 0%, $primary-7 25%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    user-select: none;

    h1 {
        font-size: 36px;
        font-weight: 600;
    }
}

.field {
    @include flex(flex-start, $wrap: wrap);
    flex-basis: 100%;

    .label {
        margin-top: 15px;
        color: $mid;
        pointer-events: none;
        transition: 0.2s;
        order: -1;
    }

    .input {
        width: 100%;
        padding: 8px;
        background-color: $fg-1;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: 0.2s;

        &:focus {
            border: 1px solid $primary;
            box-shadow: 0 0 5px $primary-5;

            &~.label {
                color: $primary;
            }
        }
    }

    .errors {
        width: 100%;
        margin-top: 8px;
        flex-basis: 100%;
        padding: 0 8px;
        background-color: $red-1;
        border: 1px solid $red;
        border-radius: 4px;
        user-select: none;
    }

    &.errors {
        .input {
            &:focus {
                border: 1px solid $red;
                box-shadow: 0 0 5px $red-5;

                &~.label {
                    color: $red;
                }
            }
        }
    }

    .link {
        margin-top: 15px;
        color: $primary-8;

        &:hover {
            color: $primary;
        }
    }

    .submit {
        @include flex($gap: 4px);
        @include loader();
        width: 100%;
        height: 40px;
        margin-top: 25px;

        padding: 4px 16px;
        background-color: $primary-1;
        border: 1px solid $primary;
        border-radius: 4px;
        transition: 0.2s;

        &:hover {
            background-color: $primary-2;
        }

        &:active {
            transition: 0s;
            background-color: $primary-3;
        }

        &:disabled {
            color: $mid-75;
            filter: grayscale(1);

            &.successfull {
                filter: grayscale(0);
                background-color: $green-1;
                border: 1px solid $green;
                color: $fg;
            }
        }

        >* {
            pointer-events: none;
        }
    }
}

.hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background-color: $fg-5;
}

.providers {
    @include flex($gap: 10px);
    width: 100%;
    user-select: none;

    .provider {
        @include flex();
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: 0.2s;

        &:nth-child(2) {
            background-color: $fg-9;

            &:hover {
                background-color: $fg-7;
            }

            &:active {
                transition: 0s;
                background-color: $fg-5;
            }
        }

        &:nth-child(3) {
            background-color: $fg-1;

            &:hover {
                background-color: $fg-2;
            }

            &:active {
                transition: 0s;
                background-color: $fg-3;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .form {
        padding: 35px 30px;
    }
}